.wrapper {
  display: flex;
  justify-content: space-around;
}

.productWrapp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.productWrappTable {
  max-width: 1200px;
  width: 90%;
  display: flex;

  //&:hover {
  //  border: solid 2px #9db0ea;
  //  box-shadow: 1px 2px 15px;
  //}
}

.favoritesEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favoritesEmptyTitle {
  display: flex;
  color: red;
  padding-top: 50px;

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.favoritesBox {
  display: flex;
  width: 300px;
  height: 300px;

  @media (max-width: 480px) {
    width: 200px;
    height: 200px;
  }
}