.layoutWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #c1c0cb;
}

.layoutButton {
  margin-left: 78px;
  border: none;
  border-radius: 5px;
  background-color: #c1c0cb;
  color: #551A8B;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  &:hover {
    color: red;
  }

  @media (max-width: 500px) {
    margin-left: 10px;
  }

  @media (max-width: 380px) {
    font-size: 16px;
    font-weight: 400;
  }
}

.layout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  margin: 0;
  list-style-type: none;
  
  @media (max-width: 380px) {
    column-gap: 10px;
    font-size: 16px;
    font-weight: 400;
  }
}

.link {
  text-decoration: none;

  &:hover {
    color: red;
  }
}