.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px #e5e6e8;
  width: 250px;
  padding: 3px 10px 5px 10px;


  &:hover {
    border: solid 2px #9db0ea;
    box-shadow: 1px 2px 15px;
    scale: 1.03;
  }

  @media (max-width: 600px) {
    width: 200px;
  }

  @media (max-width: 500px) {
    width: 150px;
  }
}

.image {
  width: 212px;
  height: 308px;
  margin: 0 auto;

  @media (max-width: 600px) {
    width: 170px;
    height: 246px;
  }

  @media (max-width: 500px) {
    width: 122px;
    height: 176px;
  }
}

.name {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  color: #bd1111;
  margin: 0 0 10px 0;

  @media (max-width: 600px) {
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 500px) {
    font-size: 16px;
    font-weight: 500;
  }
}

.price {
  text-align: end;
  font-size: 24px;
  font-weight: 600;
  color: #5d5db9;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 20px;
    font-weight: 600;
  }

  @media (max-width: 500px) {
    font-size: 16px;
    font-weight: 600;
  }
}

.wrappVolume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 6px;
}

.number {
  font-size: 14px;
  font-weight: 300;
  margin-right: 4px;

  @media (max-width: 600px) {
    font-size: 12px;
    font-weight: 500;
  }

  @media (max-width: 500px) {
    font-size: 10px;
    font-weight: 500;
  }
}

.volume {
  font-size: 20px;
  font-weight: 600;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 16px;
    font-weight: 500;
  }

  @media (max-width: 500px) {
    font-size: 12px;
    font-weight: 500;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.buttonStar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.Star {
  width: 35px;
  height: 35px;

  @media (max-width: 600px) {
    width: 30px;
    height: 30px;
  }

  @media (max-width: 500px) {
    width: 25px;
    height: 25px;
  }
}

.imageWrapp {
  display: flex;
}

.modalCloseButton,
.modalCloseButtonStar {
  width: 20px;
  height: 20px;
  color: #222428;
  font-size: 20px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.modalCloseButtonStar {
  padding-right: 16px;
}

.closeButton {
  background-color: #FFFFFF;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


// Table

.productTable {
  max-width: 1200px;
  width: 90%;
  display: flex;
  border: 1px solid #d9d7e3;

  &:hover {
    border: solid 2px #9db0ea;
    box-shadow: 1px 2px 15px;
  }
}

.imageWrappTable {
  display: flex;
}

.imageTable {
  width: 65px;
  height: 85px;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 55px;
    height: 70px;
  }

  @media (max-width: 400px) {
    width: 50px;
    height: 60px;
  }
}

.nameTable {
  display: flex;
  align-items: center;
  width: 610px;
  //width: 50%;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  color: #bd1111;
  margin-right: 4px;
  padding-left: 6px;

  @media (max-width: 800px) {
    font-size: 20px;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }

  @media (max-width: 400px) {
    font-size: 15px;
  }
}

.priceTable {
  display: flex;
  align-items: center;
  width: 160px;
  //width: 13%;
  font-size: 20px;
  font-weight: 500;
  color: #5d5db9;
  margin-right: 6px;

  @media (max-width: 800px) {
    font-size: 18px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
  }

  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.wrappVolumeTable {
  width: 160px;
  //width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;

  @media (max-width: 950px) {
    display: block;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.numberTable {
  width: 65px;
  //width: 5%;
  font-size: 14px;
  font-weight: 300;
  margin-right: 8px;

  @media (max-width: 800px) {
    font-size: 12px;
  }
}

.volumeTable {
  font-size: 16px;
  font-weight: 500;
  margin: 0;

  @media (max-width: 800px) {
    font-size: 14px;
  }
}

.buttonWrapperTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;

  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: space-around;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.buttonStarTable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 20px;
  border: none;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  cursor: pointer;

  @media (max-width: 800px) {
    margin-left: 10px;
  }
}

.modalCloseButtonTable {
  width: 25px;
  height: 25px;
  color: #222428;
  font-size: 20px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.StarTable {
  width: 35px;
  height: 35px;

  @media (max-width: 800px) {
    width: 30px;
    height: 30px;
  }

  @media (max-width: 600px) {
    width: 24px;
    height: 24px;
  }
}

